@import (reference) "../../../variables.less";

.ministry {
    .sub-nav-card {
        color: rgba(255,255,255,1);
        position: relative;
        padding: 10px 10px 80px;
        .front-content {
            position: relative;
            z-index: 1;
            .title-container{
                padding: 10px;
                .font-title2 {
                    margin: 0;
                    text-align: center;
                    padding: 5px 10px;
                    border-bottom: 5px solid rgba(255,255,255,0.5);
                }
            }
            .sub-nav-container {
                display: flex;
                .back-tile {
                    padding: 10px;
                    flex-grow: 1;

                    @media @mobile-device { padding: 10px 0px;}
                    a { 
                        text-decoration: none !important;
                        color: inherit;
                    }
                    .tile-page {
                        height: 150px;
                        width: 100%;
                        border-radius: 10px;
                        overflow: hidden;
                        background: rgba(50,50,50,0.5);
                        display: inline-flex;
                        flex-direction: column;     
                        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                        
                        &.link {
                            transition: 0.5s all ease-in-out;
                            &:hover {
                                cursor: pointer;
                                opacity: 0.5;
                            }
                        }
                        .full-page-info {
                            padding: 20px 5px;
                            text-align: center;
                            font-size: 1.5rem;
                            .back-icon { 
                                font-size: 40px; 
                                margin-top: 10px;                                
                            }

                            @media @mobile-device{ 
                                font-size: 1.2rem;
                                .back-icon {
                                    font-size: 30px;
                                }
                            }
                        }                                          
                    }
                }
                .sibling-carousels {
                    width: 80%;
                    text-align: center;
                    margin-left: 10px;
                    border-left: 5px solid rgba(255,255,255,0.5);

                    @media @mobile-device { width: 70%;}
                }
            }
        }
        .back-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .cover {
                width: 100%;
                height: 100%;
                opacity: 0.4;
                position: relative;
                z-index: 1;
                &.c3c2 { background: linear-gradient(to right, @color3, @color2);}
                &.mainGrad { .backgroundGradient(1);}
            }
        }
    }

    /* Body*/
    .outer-slide-container {
        position: relative;
        padding: 30px 0px 30px 2px;
        min-height: 500px;
        @media @mobile-device {
            padding: 30px 10px;
        }
        .slide-bottom {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 5%;
            width: 55%;
            max-height: 450px;
            .ministry-title { font-size: 4rem;}
            .ministry-bio { font-size: 1.5rem; line-height: 3rem;}

            @media @mobile-device { 
                position: relative; 
                top: inherit; 
                left: inherit; 
                width: inherit; 
                max-height: inherit;
                .ministry-title { font-size: 2rem;}
                .ministry-bio { font-size: 1.2rem; line-height: 2rem;}
            }
        }
        .slide-top {         
            padding: 5px 5px 30px 65%;
            display: flex;
            justify-content: flex-start;
            height: 100%;
            overflow-x: auto;
            .slide-wrapper {
                min-width: 95vw;
                height: 500px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;   
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                        
                background: rgba(255,255,255,0.1);
                overflow: hidden;
                display: flex;
                flex: 1 0 auto;

                .slide-panel { 
                    position: relative;
                    display: inline-flex;
                    flex: 1 0 auto;
                    overflow: hidden;
                    height: 100%;
                    background: rgba(255,255,255,1);

                    .sz-na { flex-shrink: 0; }
                    .sz-175 { width: 175px; flex-shrink: 0;}
                    .sz-325 { width: 325px; flex-shrink: 0;}
                    .sz-500 { width: 500px; flex-shrink: 0;}

                    .m-jump {
                        cursor: pointer;
                        transition: 0.5s all ease-in-out;

                        display: inline-flex;
                        margin-top: 7px;
                        padding: 5px 6px;
                        background: rgba(50,50,50,0.7);
                        border-radius: 50%;
                        font-size: 20px;
                        color: rgba(50,50,50,1);
                        background: rgba(255,255,255,1);
                        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                        
                        &:hover { opacity: 0.7;}
                    }

                    .gallery {
                        position: relative;
                        display: flex;
                        .m-jump {
                            position: absolute;
                            bottom: 15%;
                            left: 10%;
                            z-index: 3;
                        }
                        .gallery-group {
                            display: flex;
                            flex-wrap: wrap;

                            .image { 
                                height: 50%; 
                                position: relative;
                                overflow: hidden;
                                img { 
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    transition: 0.5s all ease-in-out;
                                    position: relative;
                                    z-index: 0;
                                }
                                &:hover {
                                    img {
                                        -moz-transform: scale(1.025);
                                        -webkit-transform: scale(1.025);
                                        -ms-transform: scale(1.025);
                                        transform: scale(1.025);
                                    }
                                }
                                &:after { 
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 1;
                                    z-index: 1;
                                    .backgroundGradient3(0.20);
                                } 
                            }
                        }
                    }

                    .content { 
                        padding: 30px;                        
                        font-family: 'Montserrat Alternates', sans-serif;
                        &.gcolor0 { .backgroundGradient4(0.9);}
                        &.gcolor1 { background: rgba(50,50,50,0.9); color: rgba(255,255,255,1);}
                        &.gcolor2 { .backgroundGradient6(0.25); background-color: @color3;}
                        &.flex-content { display: flex; flex-direction: column;}

                        h1 { font-size: 2.5rem;}
                        p { line-height: 1.5rem;}
                        .more-jump { 
                            cursor: pointer; 
                            text-decoration: underline;
                            color: rgb(249, 216, 255,1);
                            transition: 0.5s all ease-in-out;
                            &:hover { opacity: 0.7;}
                        }

                        .m-title {
                            font-family: 'Cabin Condensed', sans-serif;
                            position: relative;
                            color: rgba(255,255,255,1); 
                            margin: 0.83rem 0;
                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                width: 3.5rem;
                                height: .1rem;
                                background-color: rgba(255,255,255,.25);
                            }
                            &.space-gap { margin-top: 50px;}
                        }
                        
                        .m-logo {
                            overflow: hidden;
                            padding: 5px;
                            background: rgba(50,50,50,0.7);
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            margin-bottom: 15px;
                            img { width: 100%;}
                        }
                        .population-list {
                            margin-bottom: 15px; 
                            text-transform: capitalize;
                        }
                        .m-leader {
                            margin-bottom: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            .leader-name { font-size: 1.2rem; font-weight: bold; color: rgba(255,255,255,1); margin-bottom: 2px;}
                            .leader-email { font-size: 1rem; padding-left: 7px; color: rgba(50,50,50,1);}
                            .leader-title { 
                                font-size: 1rem; 
                                padding: 0px 7px; 
                                color: rgba(255,255,255,1);
                                display: inline-block;
                                margin:0px 10px;
                                border: 1px solid rgba(255,255,255,1);
                            }
                        }

                        .section-list {
                            .section-item { 
                                display: flex;

                                .bullet { 
                                    padding: 10px;
                                    border-radius: 50%;
                                    border: 2px solid rgba(255,255,255,1);
                                    display: inline-block;
                                    .bullseye { width: 10px; height: 10px; background: rgba(255,255,255,1); border-radius: 50%;}
                                }
                                .text { 
                                    display: inline-flex;
                                    padding-left: 10px;
                                    span { margin: auto 0px;}
                                }
                                &+.section-item {
                                    margin-top: 40px;
                                    position: relative;
                                    &:after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        width: 2px;
                                        height: 40px;
                                        top: -40px;
                                        left: 17px;
                                        background-color: rgba(255, 255, 255, 1);
                                    }
                                }
                            }
                        }

                        .program-list {
                            display: flex;
                            height: 100%;
                            .program-group {
                                display: flex;
                                flex-flow: column wrap;
                                .program-item {
                                    padding: 10px 10px 15px;
                                    max-width: 550px;
                                }
                            }
                        }
                    }
                    
                    .side-img {
                        position: relative;
                        &.filtered {
                            &:after {
                                background-image: linear-gradient(45deg,rgba(114,97,147,.25) 25%,rgba(227,123,124,.25) 50%,rgba(255,228,180,.25));
                                -moz-pointer-events: none;
                                -webkit-pointer-events: none;
                                -ms-pointer-events: none;
                                pointer-events: none;
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                z-index: 1;
                            }
                        }
                        img { 
                            object-fit: cover;
                            object-position: 25% 25%;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            @media @mobile-device { 
                overflow: hidden;
                padding: 5px;
                .slide-wrapper {
                    flex-direction: column;
                    flex: inherit;
                    height: inherit;
                    border-radius: 5px;
                    min-width: inherit;
                    .slide-panel {
                        flex: inherit;
                        flex-wrap: wrap;
                        overflow: hidden;

                        .sz-na, .sz-175, .sz-325, .sz-500 
                        { width: inherit; flex-shrink: inherit;}

                        .m-jump { display: none; }

                        .side-img { 
                            width: 100%;
                            height: 200px;
                        }
                        .content { 
                            padding: 30px 20px;

                            .program-list {
                                flex-flow: row wrap;
                                .program-group {
                                    .program-item { max-width: inherit; padding: 10px 0px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}