<div class="site-page ministry">
    <!-- Ministry List-->
    <section class="sub-nav-card c1">
        <div class="back-img">
            <div class="cover c3c2"></div>
        </div>
        <!-- Front -->
        <div class="front-content">
            <!--<div class="title-container"><h2 class="font-title2">Ministry</h2></div>-->
            <div class="sub-nav-container">
                <!-- Back Tile -->
                <div class="back-tile tile-container">
                    <a class="tile-page link" href="/site/ministries">
                        <div class="full-page-info">
                            <div>Return To All Ministries</div>
                            <div class="back-icon"><i class="fas fa-arrow-alt-circle-left"></i></div>
                        </div>
                    </a>
                </div>

                <!-- Sibling List -->
                <ngx-carousel [inputs]="siblingCarousel" class="sibling-carousels tile-carousel" *ngIf="ministryComponent != undefined">        
                    <ngx-item *ngFor="let ministry of ministryComponent.siblings" NgxCarouselItem>
                        <div class="tile-container">
                            <a class="tile-page link mini" [href]="getAddress(ministry.title)">
                                <div class="page-img"><img [src]="ministry.defaultMedia"></div>
                                <div class="page-info">
                                    <!-- LOGO -->
                                    <div class="icon amez-logo"><img src="assets/images/logos/ame_zion_logo.png"></div>
                                    <!-- Title -->
                                    <div class="page-title">{{ministry.title}}</div>
                                    <!-- Sub Title -->
                                    <div class="sub-title" *ngIf="ministry.subSections.length > 0">{{ministry.subSections[0]}}</div>
                                </div>
                            </a>
                        </div>
                    </ngx-item>

                    <div NgxCarouselPrev class="carousel-ctrl light prev"> <i class="nav fas fa-chevron-left"></i> </div>
                    <div NgxCarouselNext class="carousel-ctrl light next"> <i class="nav fas fa-chevron-right"></i> </div>
                </ngx-carousel>
            </div>
        </div>
    </section>

    <!-- Information Body -->
    <section class="body-section notched-top">
        <div class="outer-slide-container" *ngIf="ministryComponent != undefined">
            <!-- Slide Bottom-->
            <div class="slide-bottom">
                <h1 class="ministry-title">{{ ministryComponent.title }}</h1>
                <div class="ministry-bio">{{ ministryComponent.mission }}</div>
            </div>

            <!-- Slide Top -->
            <div class="slide-top scroll2">
                <div class="slide-wrapper">
                    <!-- Title -->
                    <div class="slide-panel" id="panel-1">
                        <div class="side-img filtered sz-175"><img [src]="ministryComponent.defaultMedia"></div>
                        <div class="content gcolor0 sz-325">
                            <h1 class="m-title">{{ ministryComponent.title }}</h1>
                            <div class="m-logo">
                                <img [src]="defaultImg(ministry, 'logo')">
                            </div>

                            <div class="population-list">{{ ministryComponent.populationsServed}}</div>
                            
                            <div class="m-leader" *ngFor="let leader of ministryComponent.leadership">
                                <div class="leader-name">{{leader.name}}</div>
                                <div class="leader-title">{{leader.title}}</div>
                                <div class="leader-email">{{leader.email}}</div>                                
                            </div>

                            <div class="m-jump" (click)="horizontalJump('panel-2')"><i class="fas fa-angle-double-right"></i></div>
                        </div>
                    </div>

                    <!-- About Us-->
                    <div class="slide-panel" id="panel-2">
                        <div class="content gcolor1 sz-500">
                            <h2 class="m-title">About Us</h2>
                            <p>{{ ministryComponent.mission | slice: 0:150 }} ..... <a class="more-jump" (click)="horizontalJump('')">More</a></p>

                            <h2 class="m-title space-gap">Organizations</h2>
                            <div class="section-list">
                                <!-- Section -->
                                <div class="section-item">
                                    <div class="bullet"><div class="bullseye"></div></div>
                                    <div class="text"><span>{{ministryComponent.section}}</span></div>
                                </div>

                                <!-- Sub Sections-->
                                <div class="section-item" *ngFor="let section of ministryComponent.subSections">
                                    <div class="bullet"><div class="bullseye"></div></div>
                                    <div class="text"><span>{{section}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Special Programs -->
                    <div class="slide-panel" id="panel-3">
                        <div class="content gcolor2 sz-na flex-content">
                            <h2 class="m-title">Special Programs</h2>

                            <div class="program-list">
                                <div class="program-group" *ngFor="let group of ministryActivities">
                                    <div class="program-item" *ngFor="let program of group">
                                        <h3>{{program.name}}</h3>
                                        <p>{{program.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="jump-container"><div class="m-jump" (click)="horizontalJump('panel-4')"><i class="fas fa-angle-double-right"></i></div></div>
                        </div>
                    </div>

                    <!-- Pictures -->
                    <div class="slide-panel" id="panel-4">
                        <div class="gallery">
                            <div class="gallery-group" [ngClass]="{ 'sz-45': gallery.length == 4, 'sz-30': gallery.length != 4}" *ngFor="let gallery of ministryImgs">
                                <div class="image {{ getImgSz(i)}}" *ngFor="let img of gallery;let i = index"><img [src]="img" /></div>
                            </div>
                            <div class="m-jump" (click)="horizontalJump('panel-1')"><i class="fas fa-angle-double-left"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>