<div class="site-page ministries">
    <section class="title-card c1">
        <h1 class="font-title1">Ministries</h1>
        <div class="back-img">
            <div class="cover c3c2"></div>
            <img src="assets/images/tmpMedia/img4.jpg">
        </div>
    </section>

    <section class="body-section notched-top" *ngFor="let section of ministryList; let i = index" [ngClass]="{'c2-mid':i%2==1}">
        <h1 class="font-title1">{{ section.sectionTitle }}</h1>

        <ngx-carousel [inputs]="ministryCarousel" class="mn-carousels tile-carousel">        
            <ngx-item *ngFor="let ministry of section.list" NgxCarouselItem>
                <div class="tile-container">
                    <a class="tile-page link" [href]="getAddress(ministry.title)">
                        <div class="page-img"><img [src]="defaultImg(ministry.defaultMedia, 'main')"></div>
                        <div class="page-info">
                            <!-- LOGO -->
                            <div class="icon amez-logo"><img [src]="defaultImg(ministry.logo, 'logo')"></div>
                            <!-- Title -->
                            <div class="page-title">{{ministry.title}}</div>
                            <!-- Sub Title -->
                            <div class="sub-title" *ngIf="ministry.subSections.length > 0">{{ministry.subSections[0]}}</div>
                        </div>
                    </a>
                </div>
            </ngx-item>

            <div NgxCarouselPrev class="carousel-ctrl prev" [ngClass]="{'flip':i%2==0}"> <i class="nav fas fa-chevron-left"></i> </div>
            <div NgxCarouselNext class="carousel-ctrl next" [ngClass]="{'flip':i%2==0}"> <i class="nav fas fa-chevron-right"></i> </div>
        </ngx-carousel>
    </section>

</div>