<div class="cms-content inner-page announcements">
  <div class="cms-container">
    <h1 class="header-message"><i class="fas fa-bullhorn"></i> <span>Announcements</span></h1>

    <div class="announcements-body">
      <div class="acard-container">
        <!-- Card Preview -->
        <div class="card-preview">
          <div [ngClass]="['crd-ctrl', 'prev', isDisabled('prev')]" (click)="changeSelected('prev',0)"><i class="fas fa-chevron-left"></i></div>
          <div class="card-full-content">
            <div class="carousel-page" [ngClass]="selectedCard.type">              
              <!-- Card Image -->
              <div class="carousel-card img-card">
                <div class="img-card-container">
                  <div class="img-container"><img src="{{selectedCard.media}}" class="carousel-card-img" alt=""></div>
                  <div class="card-content">
                    <!-- Title -->
                    <div class="content-title"><dynamic-field [(text)]="selectedCard.title"></dynamic-field></div>

                    <!-- Lines -->
                    <div *ngFor="let line of selectedCard.lines; let j = index" [ngClass]="['content-line', line.size, isBold(line.bold)]">
                      <dynamic-field [(text)]="line.text"></dynamic-field>
                      <div class="type-btns">
                        <!-- Size -->
                        <div class="sm-btn sizeChange" [ngSwitch]="line.size" (click)="szChange(j)">
                          <!-- p -->
                          <span *ngSwitchCase="'p'">P</span>
                          <!-- h2 -->
                          <span *ngSwitchCase="'h2'">H2</span>
                          <!-- h1 -->
                          <span *ngSwitchCase="'h1'">H1</span>
                        </div>
                        <!-- Bold -->
                        <div class="sm-btn boldChange" (click)="boldChange(j)">
                          <!-- Bold -->
                          <span class="icon-container" *ngIf="line.bold == true"><i class="fas fa-bold"></i></span>

                          <!-- Not Bold-->
                          <span class="icon-container" *ngIf="line.bold == false">
                            <span class="fa-stack">
                              <i class="fas fa-bold fa-stack-1x" data-fa-transform="shrink-6"></i>
                              <i class="fas fa-ban fa-stack-1x" style="color:Tomato"></i>
                            </span>
                          </span>
                        </div>
                        <!-- Remove -->
                        <div class="sm-btn removeLine" (click)="removeLine(j)"><i class="fas fa-times-circle"></i></div>
                      </div>
                    </div>

                    <!-- Add Lines -->
                    <div class="add-line" (click)="addLine()"><div><i class="fas fa-plus-circle"></i><span>Add Line</span></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="['crd-ctrl', 'next', isDisabled('next')]"  (click)="changeSelected('next',0)"><i class="fas fa-chevron-right"></i></div>
        </div>

        <!-- Card Order Control-->
        <div class="card-ctrl">
          <div class="card-mini-preview">
            <!-- Current Cards -->
            <div [ngClass]="['card-mini-content', 'current', isActive(i)]" *ngFor="let card of editCards; let i = index" (click)="changeSelected('jump',i)">
              <div class="card-inside"><span>{{ i }}</span></div>
            </div>

            <!-- Add Cards -->
            <div class="card-mini-content add" *ngFor="let card of addCardList(); let i = index">
              <div class="card-inside" *ngIf="i == 0"><i class="fas fa-plus-circle"></i><span>Add</span></div>
              <div class="card-inside" *ngIf="i > 0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
