@import (reference) "../../../variables.less";

.gallery {
    .gallery-display {
        padding: 50px 5%;
        .galleryList {
            .galleryFilter {
                text-align: center;
                .search-container {
                    .color3(background, 0.55);
                    //background: @color3;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: rgba(255,255,255,1);
                    width: 400px;
                    display: inline-flex;
                    justify-content: space-between;
                    font-size: 1.3rem;

                    input{ 
                        margin-right: 10px; 
                        flex: 1;
                        background-color: rgba(0,0,0,0);                        
                        border: none;
                        color: rgba(255,255,255,1);
                        font-size: 1.3rem;
                        &::placeholder { color: rgba(220,220,220,0.7);}
                    }
                }
            }

            .galleryListContainer {
                margin: 30px 0px;
                display: flex;
                //justify-content: space-between;
                flex-wrap: wrap; 
    
                .galleryItem { 
                    border: 2px solid @color3;
                    border-radius: 4px;
                    padding: 10px;
                    overflow: hidden;
                    margin: 0px 1% 30px 0px;
                    cursor: pointer;
                    width: 22%;
                    height: 250px;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    
                    transition: 0.5s all ease-in-out;
    
                    &:hover { 
                        opacity: 0.5;
                        .color3(background, 0.5);
                    }
    
                    .itemContainer {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        height: 100%;
                        .img-container { flex: 1; max-height: 90%; img { max-height: 100%; width: 100%; }}
                        .item-title { color: @color3; font-weight: bold; font-size: 1.3rem; text-align: center;}
                    }
                }
    
                .listControl {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    font-size: 2rem; 
                    .ctrl-container {
                        display: inline-flex;
                        border-radius: 50px;
                        padding: 5px 20px;
                        border: 2px solid rgba(255,255,255,1);
                        background: rgba(50,50,50,0.3);

                        .ctrl {
                            cursor: pointer;
                            &.ctrl-left { margin-right: 20px;}
                            &.ctrl-right { margin-left: 20px;}
                            &.disabled { opacity: 0.3; pointer-events: none;}
                        }
                    }
                }
            }
        }

        .photosList {
            .pageControl { 
                display:flex; 
                font-size: 2rem; 
                cursor: pointer; 
                color: @color3;
                .ctrl-container {
                    display: inline-flex;
                    border-radius: 50px;
                    padding: 5px 20px;
                    border: 2px solid @color3;
                    background: rgba(255,255,255,0.5);
                    transition: 0.5s all ease-in-out;
                    &:hover { 
                        .color3(background, 0.5);
                        color: rgba(250,250,250,1);
                        border-color: rgba(255,255,255,0);
                    }
                    .ctrl { margin-right: 10px;}
                }
            }

            .photoListContainer {
                margin: 30px 0px;
                display: flex;
                //justify-content: space-between;
                flex-wrap: wrap; 
    
                .photoItem { 
                    border: 2px solid rgba(50,50,50,0.5);
                    border-radius: 4px;
                    padding: 2px;
                    overflow: hidden;
                    margin: 0px 2px 30px;
                    height: 250px;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    
                    .photoContainer {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        height: 100%;
                        .img-container { height: 100%; img { height: 100%; }}
                    }
                }
            }
        }

        .loading-animation {
            text-align: center;
            font-size: 200px;
        }
    }
}