/* Material Icons */
@mobile-device: ~"(max-width: 770px)";
@mobile-nav: ~"(max-width: 992px)";

/* Header Sizes */
@navHeightBottom: 50px;

/* Fonts */
@font-size: 14px;
@import url('https://fonts.googleapis.com/css?family=Eczar|Inknut+Antiqua|Lora|Playfair+Display+SC|Spectral|Spectral+SC');

/* Colors */
@color1: rgba(230,38,37,1);
.color1(@prop,@val){ @{prop}: rgba(230,38,37,@val) !important; }

@color2: rgba(186,0,1,1);
.color2(@prop,@val){ @{prop}: rgba(186,0,1,@val) !important; }

@color3: rgba(134,54,148,1);
.color3(@prop,@val){ @{prop}: rgba(134,54,148,@val) !important; }

@color4: rgba(30,150,70,1);
.color4(@prop,@val){ @{prop}: rgba(30,150,70,@val) !important; }

@color5: rgba(48,137,201,1);
.color5(@prop,@val){ @{prop}: rgba(48,137,201,@val) !important; }

@color6: rgba(194,146,45,1);
.color6(@prop,@val){ @{prop}: rgba(194,146,45,@val) !important; }

@color7: rgba(251,206,65,1);
.color7(@prop,@val){ @{prop}: rgba(251,206,65,@val) !important; }

@colorb: rgba(230,230,230,1);

.backgroundGradient(@val){ background: linear-gradient(45deg, rgba(134,54,148,@val) 20%,  rgba(230,38,37,@val) 60%, rgba(251,206,65,@val)); }
.backgroundGradient2(@val){ background: linear-gradient(45deg, rgba(114,97,147,@val) 20%,  rgba(227,123,124,@val) 60%, rgba(255,228,180,@val)); }

@notchSize: 50px;
@miniNotchSize: 25px;
@puzzleBorderRadius: 15px;

@import "../../node_modules/react-big-calendar/lib/less/styles.less";
@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";

//@import "header.less";
@import "footer.less";
@import "home.less";
@import "aboutus.less";
@import "picbook.less";
@import "pastorsPage.less";
@import "ministries.less";
@import "getConnected.less";
@import "contactUs.less";
@import "gallery.less";
@import "image-gallery.less";

@import "cs.less";

body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size;

    //font-family: 'Roboto', sans-serif;
    //font-family: 'Raleway', sans-serif;
    //font-family: 'Comfortaa', cursive;
}

*:focus { outline: none;}

.body-container {
    //padding-top: 90px;
    min-height: 100vh;
}
/* Header */
.nav-header {
    width: 100%;    
    color: rgba(0,0,0,1);
    min-height: 90px;    
    transition: 0.4s all ease;
    //background: rgba(255,255,255,0.8);
    
    &.fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .main-top-nav {
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 12px;
        .color3(background, 1);

        .top-link {
            color: rgba(255,255,255,1);
            text-decoration: none;
            &+.top-link { margin-left: 20px; }
        }
        .top-btn-link {
            background:rgba(255,255,255,1);
            color: @color3;
            padding: 3px 10px;
            border-radius: 20px;
            font-weight: bold;
            img { height: 16px; }
        }
        .social-link {
            padding: 3px 0;
        }
    }

    .main-bottom-nav {
        background: rgba(96, 87, 99, 1); 
        .navbar { padding: 0;}  
        .navbar-toggler { color: rgba(255,255,255,1);}     
        
        .navbar-brand {
            position: relative;
            overflow: hidden;
            padding: 7px 14px;
            display: flex;
            .logo { height: 55px;}
        }
        
        .navbar-collapse {
            justify-content: flex-end;
            height: 70px;
            .nav{ 
                height: 100%;
                .nav-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;  
                    transition: 0.3s all ease-in-out;                  
                    .nav-link { 
                        font-size: 12px;
                        padding: 15px 25px 0;
                        text-transform: capitalize;
                        color: rgba(255,255,255,1);
                        height: 100%;
                        i { display: block; text-align: center; font-size: 20px; }
                        span { width: 100%; }
                    }
                    &:hover, &.show { background: @color3; border-left-color: @color3;}

                    &.dropdown {
                        .dropdown-menu {
                            padding: 25px;
                            background: @color3;  
                            border-radius: 0px;
                            margin-top: 0;
                            .drop-container {
                                display: flex;
                                flex-direction: row;
                                .drop-col { 
                                    display: flex;
                                    flex-direction: column;                        
                                    flex:1;
                                    a { 
                                        white-space: nowrap;
                                        color: rgba(255,255,255,1); 
                                        padding: 7px 0px;
                                        text-transform: capitalize;
                                        border-bottom: 1px solid rgba(255,255,255,0.2);
                                        &:hover { text-decoration: none; color: rgba(150,150,150,1); }
                                        &.no-wrap { white-space: normal; }
                                    }
                                    &+.drop-col { margin-left: 25px; }
                                }
                            }                            
                            
                        }
                    }
                }
            }            
        }
    }
}


/* Mobile Nav */
.noscroll { overflow: hidden; }
.app-body {
    position: relative;
    overflow-x: hidden;
}
.sidenav-container {
    display: none;
    position: fixed;
    top:0;
    left: 100vw;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    background: rgba(52,58,64,1);
    transition: 0.5s all ease-in-out;
    padding: @navHeightBottom 12% 20px;
    color: rgba(255,255,255,1);

    .nav-close { 
        position: absolute;
        top: 35px;
        right: 45px;
        font-size: 28px; 
        color: rgba(255,255,255,1);         
    }
    .sidenav-section {
        display: flex;
        flex-direction: column;        
        text-transform: capitalize;
        .sidenav-link { font-size: 25px; color: rgba(255,255,255,1) !important;}
        .sidenav-subcontainer {
            display: flex;       
            flex-direction: column;     
            .sub-link {                 
                margin-left: 30px;
                font-size: 20px;
                a { color: @color3; }
            }
        }
        
        &+.sidenav-section { margin-top: 20px;}

        &.btn-section {           
            flex-direction: column;
            .donate-btn { 
                border-radius: 50px;
                text-align: center;
                padding: 5px 10px;
                background: rgba(255,255,255,1);
                color: rgba(52,58,64,1);
                font-size: 20px;
                width: 100%;
                margin-bottom: 20px;
            }

            .social-btn-container {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                .social-btn {
                    border-radius: 50%;
                    display: inline-flex;
                    background: rgba(255,255,255,1);
                    color: rgba(52,58,64,1);                     
                    padding:2px 5px;

                    i { line-height: inherit; font-size: 20px;}
                }
            }
        }
    }    

    &.active { left:0; }
    @media @mobile-nav { display: block;}
}

/* Common Body */
.site-page {
    .title-card {
        padding: 170px 5px 100px;
        text-align: center;
        color: rgba(255,255,255,1);
        position: relative;
        h1 { font-size: 4rem; margin:0px; position: relative; z-index: 1; @media @mobile-device { font-size: 3rem; }}

        .back-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                min-height: 100%;
                top: 0;
                left:0;
                z-index: 0;
                @media @mobile-device { object-fit: cover;}
            }
            .cover {
                width: 100%;
                height: 100%;
                opacity: 0.4;
                position: relative;
                z-index: 1;
                &.c3c2 { background: linear-gradient(to right, @color3, @color2);}
                &.mainGrad { .backgroundGradient(1);}
            }           
        }
        &.c1 {  background-color: rgba(150,150,150,1); }
    }
}
.body-section {  
    position: relative;
    .section-back {
        position: absolute;
        top:0; left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        img {
            position: relative; 
            z-index: 0; 
            object-fit: cover; 
            width: 100%; min-height: 100%;
            filter: grayscale(0.9);
            opacity: 0.6;
        }

        &:before { 
            content: '';
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: 2;
            background: rgba(255,255,255, 0.6);
        }
    }

    .back-img { 
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            position: relative; 
            z-index: 0; 
            object-fit: cover;                 
            width: 100%; 
            min-height: 100%;
            filter: grayscale(0.9);
            opacity: 0.6;
        }

        &:before { 
            content: '';
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: 2;
        }
    }

    &.notched-top { 
        position: relative;        
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: -@notchSize;
            left: 50%;
            transform: translateX(-50%);
            height: @notchSize;
            width: @notchSize *2;
            background-color: rgba(250,250,250,1);
            border-top-left-radius: @notchSize * 2;
            border-top-right-radius: @notchSize * 2;
            box-shadow: 0 -8px 10px 0px rgba(0,0,0,.3);
            -moz-box-shadow:    0 -8px 10px 0px rgba(0,0,0,.3);
            -webkit-box-shadow: 0 -8px 10px 0px rgba(0,0,0,.3);
        }  
        &.c2 {
            .color2(background, 1);
            color: rgba(255,255,255,1);
            &:before { background-color: @color2; }
        } 
        &.c2-mid {
            .color2( background, 0.7); 
            color: rgba(250,250,250,1);
            &:before { .color2(background-color, 0.7); }
        }  
        &.c3 {
            .color3( background, 1); 
            color: rgba(250,250,250,1);
            &:before { .color3(background-color, 1); }
        }  
        &.c3-mid {
            .color3( background, 0.7); 
            color: rgba(250,250,250,1);
            &:before { .color3(background-color, 0.7); }
        }    
        &.light {
            color: rgba(0,0,0,1);
            background: rgba(200,200,200,1);
            &:before { background-color: rgba(200,200,200,1); }
        }    

        &.b1 {
            color: rgba(250,250,250,1);
            &:before { background-color: rgb(85,79,88); }
            .section-back {background: rgba(59, 48, 63, 0.6); }
        }
    }
}

/* Common elements */
.mail-to { 
    color: inherit; 
    text-decoration: underline;
    &:hover { color: inherit; }
}
.font-title1 { font-family: 'Homemade Apple', cursive !important; margin: 42px 0px; }

.btn-row {
    margin-top: 20px;
    display: block;
}
.fill-btn {
    color: rgba(0,0,0,1);
    background-color: rgba(230,230,230,1);
    opacity: 0.6;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                        
    transition: 0.3s all ease-in-out;
    &:hover { box-shadow: rgba(0,0,0,0); opacity: 1;}
    &+.fill-btn { margin-left: 10px;}
}

.btn {
    color: @color1;
    background-color: rgba(255,255,255,0);
    border: 2px solid @color1;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.3s all ease;
    .title { margin-left: 10px; }
    &:hover { background-color: @color1; color: rgba(255,255,255,1); box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);}

    &.c3 { color: @color3; border-color: @color3; &:hover { background-color: @color3; color: rgba(255,255,255,1);}}
    &.c3-flip { color: rgba(255,255,255,1); border-color: rgba(0,0,0,0); .color3(background-color, 1); &:hover { .color3(background-color, 1);}}
}
.btn-link {
    color: @color3;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.3s all ease;
    cursor: pointer;    
    text-transform: uppercase;

    &:hover { opacity: 1; }
}

.btn2-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    .btn2 {
        background: @color6;
        color: #fff;
        border-radius: 50px;
        padding: 5px 15px;
        display: inline-block;
        cursor: pointer;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                        
        transition: 0.3s all ease-in-out;
        i { margin-right: 7px; }

        &.noback {
            cursor: initial;
            background: rgba(0,0,0,0);
            border: 2px solid rgba(255,255,255,1);
            box-shadow: initial;

        }
        &.c6 { color: rgba(0,0,0,1); border: 2px solid @color6;}

        &:hover:not(.noback) { .color6(background, 0.5); text-decoration: none; }

        &+.btn2 { margin-left: 20px; @media @mobile-device { margin: 20px 0 0; }}
        @media @mobile-device { text-align: center;}
    }

    @media @mobile-device { flex-direction: column;}
}

.md-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .md-sz-10 { width: 100%; }
    .md-sz-9 { width: 90%; }
    .md-sz-8 { width: 80%; }
    .md-sz-7 { width: 70%; }
    .md-sz-6 { width: 60%; }
    .md-sz-5 { width: 50%; }
    .md-sz-4 { width: 40%; }
    .md-sz-3 { width: 30%; }
    .md-sz-2 { width: 20%; }
    .md-sz-1 { width: 10%; }    
}

/* Devices */
.half-tablet {
    border: solid 40px #fff;
    border-bottom: 0;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    width: 40%;
    
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &.content {      
      &:before {
        background-color: rgba(50,50,50,0.2);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;        
      }
      .content-area {
        display: block;
        width: 100%;
        min-height: 300px;
      }
    }
    &:after {
      background: rgba(50,50,50,1);
      border-radius: 100%;
      content: '';
      height: 10px;
      left: 50%;
      margin: -23px 0 0 -5px;
      position: absolute;
      top: 0;
      width: 10px;
    }

    &.left {
        border-bottom: solid 40px #fff;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;        
        border-bottom-right-radius: 20px;

        &:after {
            left: 100%;
            top:50%;
            margin: -5px 0 0 13px;
        }
        .content-area { min-height: 200px;}
    }
    &.right {
        border-bottom: solid 40px #fff;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 20px;

        &:after {
            left: -23px;
            top:50%;            
        }
        .content-area { min-height: 200px;}
    }
  }
/* Loader */
.loader-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 1000;
    .hm-spinner {
        height: 315px;
        width: 315px;
        border: 5px solid transparent;
        border-top-color: @color3;
        border-bottom-color: @color6;
        border-radius: 50%;
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-35%, -35%);
        -webkit-animation: spin 3s linear infinite;
                animation: spin 3s linear infinite;

        &:before { 
            content: "";
            position: absolute;
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            border: 5px solid transparent;
            border-top-color: @color3;
            border-bottom-color: @color6;
            border-radius: 50%;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}

  /* Custom Scroll */
.scroll1 {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
     
    /* Track */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(100,100,100,0.8); 
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100,100,100,0.4); 
    }
}

/* Animation key frames */
@keyframes page-nav-slide {
    from {
        margin-top: @navHeightBottom;
    }
    to {
        margin-top: 0;
    }
}

@keyframes background-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


