<div class="site-page our-staff">
    <section class="title-card">
        <h1 class="font-title1">Our Clergy</h1>
        <div class="back-img">
            <div class="cover c3c2"></div>
            <img src="assets/images/tmpMedia/img4.jpg">
        </div>
    </section>
    
    <section class="body-section staffList notched-top {{colorClass[i]}}" *ngFor="let team of staffList; let i = index">
        <div class="staffTeamContainer">
            <div class="content-container">
                <h2>{{team.name}}</h2>

                <div class="teamMember" *ngFor="let member of team.members">
                    <div class="member-name">{{member.name}}</div>
                    <div class="member-title">{{member.title}}</div>
                </div>
            </div>
        </div>
    </section>     
</div>