<h1 mat-dialog-title>{{data.title}}</h1>
<div class="event-body">
    <div class="event-map">
        <agm-map [latitude]="data.location.lat" [longitude]="data.location.lng" [zoom]="zoomVal">
            <agm-marker [latitude]="data.location.lat" [longitude]="data.location.lng"></agm-marker>
        </agm-map>
    </div>
    <div class="event-info">
        <!-- Date -->
        <div class="info-line">
            <div class="line-title">Date:</div>
            <div class="line-txt">{{ data.date | date:'longDate' }}</div>
        </div>

        <!-- Time -->
        <div class="info-line">
            <div class="line-title">Time:</div>
            <div class="line-txt">{{ data.date | date:'shortTime' }}</div>
        </div>

        <!-- Address -->
        <div class="info-line">
            <div class="line-title">Address:</div>
            <div class="line-txt">{{ data.location.address }}</div>
        </div>
    </div>
</div>
<!--<div class="addCalendar">
    <button class="add-btn btn c3"><span>Add Event To Calender</span></button>
</div>-->