<div class="cms-content inner-page gallery">
        <div class="cms-container">        
            <h1 class="header-message"><i class="fas fa-images"></i> <span>Gallery</span></h1>                  
    
            <div class="gallery-body">
                <!-- All Albums -->
                <div class="all-albums-container sub-container">
                    <!-- Gallery Display -->
                    <div class="galleryList" *ngIf="galleryObject.loading == false">
                        <div class="galleryListContainer" >
                            <div class="galleryItem" *ngFor="let gallery of galleryFilter()">
                                <div class="itemContainer">
                                    <div class="img-container"><img [src]="gallery.previewImg"></div>
                                    <div class="item-title">{{ gallery.title }}</div>
                                </div>
                            </div>
                
                            <div class="listControl">
                                <div class="ctrl-container">
                                    <div class="ctrl ctrl-left" (click)="changePage(-1)" [ngClass]="{'disabled':galleryObject.page == 0}"><i class="fas fa-caret-left" ></i></div>
                                    <div class="page-values"><span class="ctrl-page">{{galleryObject.page + 1}}</span> / <span class="ctrl-total">{{galleryObject.pageTotal}}</span></div>
                                    <div class="ctrl ctrl-right" (click)="changePage(1)" [ngClass]="{'disabled':galleryObject.page == (galleryObject.pageTotal -1)}"><i class="fas fa-caret-right" (click)="changePage(1)"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Loading -->
                    <div class="loading-animation" *ngIf="galleryObject.loading == true">
                        <div class="loading-spinner"><i class="fas fa-spinner fa-spin"></i></div>
                    </div>
                </div>

                <!-- Add New -->
                <div class="upload-img-container sub-container">
                    <h2>Upload Images</h2>
                    <div class="upload-form-container">
                        <div class="form-content sz-20">
                            <div class="upload-btn">
                                <input type="file" class="file-input" name="chFile" id="chFile" accept="image/*" ng2FileSelect [uploader]="uploader" multiple/>
                                <label class="file-lbl" for="chFile"><i class="fas fa-file-image"></i><span>Choose File(s)</span></label>
                            </div>
                        </div>

                        <div class="form-content sz-35">
                            <mat-form-field>
                                <mat-select placeholder="Select Album" [(ngModel)]="selectAlbum">
                                    <mat-option>None</mat-option>
                                    
                                    <mat-optgroup label="Create New Album">
                                        <mat-option value="_NewAlbum_">Create New Album</mat-option>
                                    </mat-optgroup>

                                    <mat-optgroup label="Current Albums">
                                        <mat-option *ngFor="let album of galleryObject.list" [value]="album.title">{{album.title}}</mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-content sz-35">
                            <mat-form-field class="new-album-name" *ngIf="selectAlbum == '_NewAlbum_'">
                                <input matInput placeholder="Enter Album Name" [(ngModel)]="newAlbum">
                            </mat-form-field>

                            <!-- Error Messages-->
                            <div class="form-control-feedback" *ngIf="albumNameValidator() != null">
                                <p *ngIf="albumNameValidator().underscore">Album title can not start with '_'</p>
                                <p *ngIf="albumNameValidator().repeat">Album title already exists</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Upload Table -->
                <div class="img-list-container sub-container" *ngIf="uploader.queue.length > 0">
                    <h2>Images List Container</h2>

                    <!-- Queue Progress -->
                    <div class="progress-queue">
                        <span>Queue progress:</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="btn-section">
                        <button type="button" class="btn c4-flip" (click)="uploadImgs()" [disabled]="!uploader.getNotUploadedItems().length" *ngIf="readyForUpload()">
                            <i class="fas fa-cloud-upload-alt"></i> <span>Upload all</span>
                        </button>
                        <button type="button" class="btn c2-flip" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <i class="fas fa-minus-circle"></i> <span>Remove all</span>
                        </button>
                    </div>

                    <table class="img-progress-tbl">
                        <thead>
                            <tr>
                                <th width="40%">Name</th>
                                <th>Size</th>
                                <th>Progress</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of uploader.queue" (click)="test(item)">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td><div>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</div></td>
                                <td>
                                    <div>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="item.isSuccess"><i class="fas fa-check-circle"></i></span>
                                    <span *ngIf="item.isCancel"><i class="fas fa-ban"></i></span>
                                    <span *ngIf="item.isError"><i class="fas fa-times-circle"></i></span>
                                </td>
                            </tr>
                        </tbody>        
                    </table> 
                </div>

                <!-- Image Edit Table -->
                <div class="img-list-container sub-container" *ngIf="galleryObject.selected != null">
                    <h2>{{ galleryObject.selected.title }}</h2>
                </div>

            </div>                
        </div>  
    </div>